
@{
    ViewData["Title"] = "تماس با ما";
}

<div class="row" >
    <div class="col-md-3">
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های ارتباط ای</div>
            <div class="card-body">
                <h4 class="card-title">0910677</h4>
                <h6 class="card-text">soheil0910.com</h6>
                <h5 class="card-text">ID: soheil0910</h5>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="bs-component">
            <div class="jumbotron">
                <h1 class="display-3">به فروشگاه سهیل خوش آمدید</h1>
                <p class="lead">این یک واحد قهرمان ساده است، یک جزء ساده به سبک جامبیترون برای توجه بیشتر به محتوای برجسته یا اطلاعات است.</p>
                <hr class="my-4">
                <p>این صفحه در  زمان @DateTime.Now باز شده است</p>
                <h1 style="color:blueviolet">@DateTime.Now</h1>
                <h1 style="color:blueviolet">@DateTime.Now.ToString("dddd")</h1>
                <p class="lead">
    
                </p>
            </div>
        </div>
    </div>

</div>








