@model RegisterViewModel
@{
    ViewData["Title"] = "SuccessRegister";
}

<h1>ثبت نام موفقیت آمیز بود</h1>

<div class="alert alert-success">
    
    <p>
        ثبت نام ایمیل @Model.Email   موفقیت آمیز بود برای ورود به سایت میتوان از لینک زیر اقدام کنید
    </p>
    <a asp-controller="Account" asp-action="Login">ورود</a>

</div>