@model IEnumerable<ShowGroupViewModel>





    @foreach (var item in Model)
    {



        <div class="bs-component">
        <ul style="padding:0;" class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/Group/@item.GroupId/@item.Name">@item.Name</a>
                    <span class="badge badge-primary badge-pill">@item.ProductCount</span>

                 @*    <span class="badge badge-primary badge-pill">@item.categoryToProduct.Select(c => c.CategoryId).Count()</span> *@


                </li>

            </ul>
        </div>




    }
